# === API KEYS (add your own) ===
GROK_API_KEY=xai-1O0MerBFRVbPGQsPWm9DiAVp6abAwThM2J5Xox6FbgmK88aZQKsrb96wPSAoQKNS53BEhQVV1kWrxfsx
GEMINI_API_KEY=AIzaSyDV9kpKd9-JWBPhee7gIq23F9okGvRZbk8
OPENAI_API_KEY=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

# Optional: default group name for simulated chat
DEFAULT_TOPIC=AGI --> Artictial General Integience 
